@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.ff_inter {
  font-family: 'Inter';
}

.ff_montserrat {
  font-family: 'Montserrat';
}

.bgmain {
  background-color: #0B0B0F;
}